.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header{
    text-align: center;
}
form{
  width: 1170px;
  margin: auto;
  display: flex;
  
  text-align: center;
} 
input{
  height: 30px;
   flex-basis: 80%;
}
button{
  flex-basis: 20%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.output{
  width: 1170px;
  margin: auto;
  height: 30px;
  
  display: flex;
  position: relative;  
  text-align: center;
  background-color: black;
  color: aliceblue;
}
span{
  position: absolute;
  right: 10px;
  
  font-size: 20px;
  cursor: pointer;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
