.triplplanner{
    color: orangered;
}
.content{
    font-size: 45px;
}
textarea{
    margin-top: 30px;
    width:53%;
    height: 80px;
    border: none;
}

button{
       border:  2px solid black;
       padding: 3px;
       border-radius: 5%;
       background-color: black;
       color: aliceblue;
       padding: 4px 10px ;
}

button:hover{
    font-size:large;
}